.place-order-pane {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#row-search {
    margin: 10px;
}

#column-restaurant {
    height: 80%;
    border-right: 3px solid black;
    border-top: 3px solid black;
    box-sizing: border-box;
}

#column-menu {
    height: 80%;
    border-right: 3px solid black;
    border-top: 3px solid black;
    box-sizing: border-box;
}

#column-item {
    border-top: 3px solid black;
    height: 80%;
}

.restaurant-container {
    font-size: 28px;
    padding: 20px 10px;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.restaurant-container:hover {
    cursor: pointer;
    background-color: #5D6CDD;
    color: white;
}

.input-group-search {
    font-size: 24px;
    margin: 20px;
}

.input-group-search:hover {
    border-color: #5D6CDD;
    color: white;
}

.input-group-search:focus {
    border-color: #5D6CDD;
    color: white;
}

.menu-item-container {
    font-size: 28px;
    padding: 20px 10px;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100%;
    margin: 0;
}

.menu-item-container:hover {
    cursor: pointer;
    background-color: #5D6CDD;
    color: white;
}

#primary-header-user-item-name {
    color: black;
}

#secondary-header-user-restaurant {
    color: black;
}

#secondary-header-user-menu {
    color: black;
}

#secondary-header-user-item-description {
    color: black;
}

#secondary-header-user-item-price {
    color: black;
}

#button-add-to-order {
    margin: 50px auto;
    display: block;
}

#button-add-to-order:hover {
    color: #5D6CDD;
}

#button-add-to-order:focus {
    color: #5D6CDD;
}