.input-group-restaurant:hover {
    border-color: #FF5967;
}

.input-group-restaurant:focus {
    border-color: #FF5967
}

#button-restaurant-button {
    margin: 50px auto;
    display: block;
    text-align: center;
}

#button-restaurant-button:hover {
    color: #FF5967;
}

#button-restaurant-button:focus {
    color: #FF5967;
}

#pane-nav {
    margin: 0;
    top: -40px;
}

.hour-container {
    display: flex;
}

.hour-container div {
    text-align: center;
    width: 50%;
    margin: 10px auto;
}

.menu-item {
    padding: 50px;
    margin: 30px 15px;
    transition: all 0.25s ease;
}

.menu-item-container {
    max-width: 600px;
    margin: 15px auto;
}

.menu-item:hover {
    color: white;
    background-color: gray;
}

.menu-item:hover input {
    color: white;
    background-color: gray;
}