.app-layout {
    width: 95vw;
    height: 90vh;
    margin: 5vh 2.5vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #DCDCDC;
    border-radius: 15px;
}