.navbar {
    position: absolute;
    display: flex;
    width: auto;
    top: 15px;
    width: 90%;
}

.navlink {
    font-size: 28px;
    width: 100%;
    color: black;
    font-weight: 500;
    transition: all 0.1s ease;
    text-align: center;
}

.navlink:hover {
    font-weight: bold;
    cursor: pointer;
}

.active {
    font-size: 28px;
    color: black;
    font-weight: bold;
    margin-top: -3px;
    text-decoration: underline;
}

#button-sign-in {
    width: 70px;
    min-width: 100px;
    height: 50px;
    padding: 5px;
    font-size: 24px;
    margin: 0;
    margin-top: -5px;
    color: white;
    background-color: black;
}

#button-sign-in:focus {
    color: black;
    background-color: white;
}